
html{
    background: radial-gradient(circle at 20% 60%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    background-size: cover;
    display: flex;
    height: 100vh;
    
}

body {
    font-family:monospace;
    font-size: 12px;
    max-width: 800px;
    margin: auto;
    background: url('.denim.webp') cover;
    background-size: cover;
}

.paper{
    max-width: 100%;
    background: blue;
    justify-self: center;
    height: fit-content;
    background: #fcf3d9;
    object-fit: contain;
}

.top h1{
    display: flex;
    line-height: 20px;
    padding-left: 18%;
}

  .classified{
    float: left;
    width: 125px;
    height: 125px;
    background: transparent;
    padding-left: 7%;
  }
  
.me {
    position: absolute;
    top: -1%;
    left: 75%;
    transform: rotate(-25deg);
    height: 35%;
    background: transparent;
    opacity: 0.;
    object-fit: contain;
}

.snow{
    color: #E3171B;
    font-weight: bold;
    font-size: 1.8em;
    
}

.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    color: green;
}
.clip{
    position: absolute;
    top: -4%;
    left: 78%;
    transform: rotate(-25deg);
    height: 20%;
    background: transparent;
    opacity: 0.;
}

.bold{
    font-weight: bold;
    font-size: 1.4em;
}

.stain{
    position: absolute;
    top: 35%;
    left: 65%;
    width; 300px;
    height: 300px;
    background: transparent;
    opacity: 0.;
    object-fit: contain;
}
  
h1 {
    font-size: 3em;
    letter-spacing: .em;
    padding-top: em;
    padding-bottom: .5em;
    line-height: 1.4em;
}

.smallerFont{ 
    font-weight: lighter;
}
.bigFont{
    font-weight: normal;
    margin-right: 3%;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

main { 
    display: grid;
     grid-template-columns: 25% 70%;
    margin-top: em;
}
    
header {
    display: grid;
    text-align: center;
    margin: auto 2em;
    }
    
section {
     margin: auto 1em 4em 2em;
}
    
    i {
        margin-right: .5em;
    }
    
    p {
        margin: .2em auto
    }
    
    hr {
        border: none;
        background-color: lightgray;
        height: 1px;
    }
    .lex{
        align-self: center;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    
    h1, h2, h3 {
        font-weight: 100;
        margin-bottom: 0;
    }
    #mainLeft {
        border-right: 1px solid lightgray;
    }
    #topleft{

    }


