body {
    font-family:monospace;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    background: #fcf3d9

}
.top h1{
    text-align: ;
}
.me {
    float: right;
    width: 100px;
    height: 100px;
    background: ;
    margin-top: ;
  }
  .classified{
    float: left;
    width: 125px;
    height: 125px;
    background: transparent ;
    justify-self: center;
  }
 .top h1 {
    
   
  }

h1 {
    font-size: 3em;
    letter-spacing: .em;
    padding-top: em;
    padding-bottom: .5em;
    line-height: 1.4em;
}
.smallerFont{ 
    font-weight: lighter;
     
    
}
.bigFont{
    font-weight: normal;
    margin-right: 3%;
    
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}


main { 
        display: grid;
        grid-template-columns: 30% 70%;
        margin-top: em;
    }
    
    header {
        text-align: center;
        margin: auto 2em;
    }
    
    section {
        margin: auto 1em 4em 2em;
    }
    
    i {
        margin-right: .5em;
    }
    
    p {
        margin: .2em auto
    }
    
    hr {
        border: none;
        background-color: lightgray;
        height: 1px;
    }
    
    h1, h2, h3 {
        font-weight: 100;
        margin-bottom: 0;
    }
    #mainLeft {
        border-right: 1px solid lightgray;
    }
    #topleft{

    }


